body
{
	font-family: "Times New Roman";
	color: #FF0;
	max-width: 500px;
	text-height: 40px;
	text-align: justify;
	font-size: 18px;
	background: url("bg.jpg");
	padding-bottom: 10px;
}

a
{
	color: #F0F;
}

h1
{
	margin: 0;
	text-align: center;
	font-weight: normal;
}

h2
{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}
